MEDIA_CAP_GB=80
MOVIE_RETENTION_DAYS=15
TV_RETENTION_DAYS=30
MEDIA_NEVER_DELETE_PATTERNS=
PLEX_ACCOUNT_ID=1
VPN_EXPECTED_PUBLIC_IP=
VPN_MAX_HANDSHAKE_AGE_SECONDS=300
VPN_PUBLIC_IP_URL=https://checkip.amazonaws.com
TRANSMISSION_RPC_USERNAME=admin
TRANSMISSION_RPC_PASSWORD=adminadmin
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
VPN_GUARD_NOTIFY_RECOVERY=1
VPN_GUARD_STOP_TRANSMISSION=1
VPN_GUARD_DRY_RUN=0
VPN_GUARD_STATE_FILE=./config/ops/vpn-guard.state
VPN_GUARD_LAUNCHD_INTERVAL_SECONDS=60
